.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 24, 24, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 65px;
}

.modalContainer {
  width: 489px;
  height: 265px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-start;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.modalContainer a {
  text-decoration: none;
  color: rgba(24, 24, 24, 0.7);
}

.modalContainer .footer {
  /* flex: 20%; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin-top: 2%;
}

.modalContainer .footer button {
  width: 134px;
  height: 48px;
  margin: 38px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}
